coverage==7.14.1
holidays==0.98
iniconfig==2.3.0
lefthook==2.1.9
narwhals==2.22.1
numpy==2.4.6
packaging==26.2
pandas==3.0.3
plotly==6.8.0
pluggy==1.6.0
pygments==2.20.0
pytest==9.0.3
pytest-cov==7.1.0
python-dateutil==2.9.0.post0
six==1.17.0
